/* This is the styling for
 my ngMaterial app */

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    /*color: floralwhite !important;*/
}

#jh2, #jh3 {
    margin: 2px;
}

body > div.column > md-content {
    color: #5d5d5d;
}

md-toolbar h1,
md-toolbar h2,
md-toolbar h3,
md-toolbar h4 {
    color: floralwhite;
    text-align: center;
}

.jcenter {
    text-align: center;
}

.jcenter h1 {
    padding-bottom: 8px;
}

.jfooter {
    display: block;
    background-color: #f44437;
    vertical-align: middle;
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    bottom: auto;
    color: whitesmoke;
    padding-top: 10px;

}

.jfooter h1{
    vertical-align: middle;
}

.jfooter a {
    padding: 4px;
    margin: 4px;
    color: black;
    text-decoration: none;
    border: black 2px solid;
}

.jfooter:before {
    content: '';
    display: table;
    clear: both;
}

md-toolbar .jblack{
    color: #5d5d5d !important;
}

md-toolbar h1 {
    font-size: 2.2em;
    font-weight: 300;
    margin: auto;
}

md-toolbar .md-toolbar-tools h1 {
    font-size: 1.6em;
    font-weight: 300;
}

md-list .md-button {
    font-weight: 500;
    text-align: left;
    width: 100%;
    color: #1c1c1c;
}

md-list .md-button.selected {
    color: #01f458;
}

md-sidenav md-list {
    padding-bottom: 12px;
}

.jblack {
    color: #5d5d5d !important;
}

.avatar {
    width: 128px;
    height: 128px;
    position: relative;
    border: 2px solid indianred;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
    zoom: 0.7;
    transform: translateZ(0) scale(0.8);
}

.scrollable-nav-content {
    position: absolute;
    top: 136px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
}

#content {
    padding: 6px 42px;
}

span.name {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 6px;
}

md-dialog {
    color: #434343;
}

.date-row {
    margin: 16px 0px;
}

#main-wrapper {
    min-height: 800px;
}

.z3d-app-wrapper {
    text-align: center;
}

.z3d-app {
    border: solid 2px black;
    width: 960px;
    height: 600px;
    text-align: center;
    overflow: hidden;
    margin-top: 12px;
}